.section {
  padding: 5rem 0;
  background-color: var(--color-background); /* Fundo sólido preto */
  backdrop-filter: blur(5px); /* Mantém o efeito de blur se houver sobreposição */
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .section {
    padding: 3rem 0;
  }

  .cardsGrid {
    gap: 1rem;
  }
}