.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}

.navLink {
  color: var(--color-text-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--color-primary);
}

.contactButton {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  border: none;
  border-radius: 50px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: #0c36a4;
}

/* Media Query para telas menores (ex: celulares) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
  }

  .nav {
    justify-content: space-around;
    width: 100%;
  }

  .navList {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}