@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;700&display=swap');

:root {
  /* Cores */
  --color-primary: #194EFF;
  --color-background: #00020F;
  --color-surface-1: #00041F;
  --color-text-white: #FFFFFF;
  --color-text-gray: #C9CDD8;
    
  /* Tipografia */
  --font-family-sans: 'Rethink Sans', sans-serif;
}

/* Reset básico para o site */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  /* Fundo do body agora é preto sólido */
  background-color: var(--color-background);
  color: var(--color-text-white);
  font-family: var(--font-family-sans);
  line-height: 1.6;
}